<%- include('../shared-views/header')%>
<div class="container">

    <% if(datos.mensaje){ %>
        <div class="alert alert-primary" role="alert">
            <%= datos.mensaje %>
        </div>
    <% } %>

    <% if(datos.error){ %>
        <div class="alert alert-danger" role="alert">
            <%= datos.error %>
        </div>
    <%
    }
    %>

    <h1>Lista de Pacientes </h1>
    <a href="/paciente/crear-paciente">
        <button type="button"
                class="btn btn-info">
            Crear paciente
        </button>
    </a>

    <form action="/paciente/mostrar-pacientes"
          method="GET">
        <div>
            <label for="consultaID">Buscar Paciente</label>
            <input id="consultaID"
                   type="text"
                   placeholder="EJ: 0751010414 o Joha"
                   title="Ingresar busqueda por nombre o por cedula"
                   name="consultaPaciente"
                   class="form-control">
            <small id="cedulaIDHelp"
                   class="form-text text-muted">
                Puede buscar por cedula, apellido o nombre
            </small>
        </div>

    </form>

    <%- include('./tabla-paciente',{
    pacientes: datos.pacientes
    })
    %>

</div>
<%- include('../shared-views/footer')%>
