<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Fecha De Nacimiento</th>
        <th scope="col">Telefono</th>
        <th scope="col">Direccion</th>
    </tr>
    </thead>
    <tbody  async="true">
    <%     pacientes.forEach( (paciente) => {%>
        <tr>
            <th scope="row"><%= paciente.id%></th>
            <td><%= paciente.nombre%></td>
            <td><%= paciente.apellido%></td>
            <td><%= paciente.fechaDeNacimiento%></td>
            <td><%= paciente.telefono%></td>
            <td><%= paciente.direccion%></td>
            <td>
                <a href="/paciente/editar-paciente/<%= paciente.id %>">
                    <button type="button"
                            class="btn btn-info">
                        Editar
                    </button>
                </a>

                <a>
                    <form action="/paciente/delete/<%= paciente.id %>"
                          method="POST">
                        <button type="submit"
                                class="btn btn-info">
                            Eliminar
                        </button>
                    </form>
                </a>

            </td>
        </tr>
    <%}); %>
    </tbody>
</table>
