<hr>
<h5>Estado del historial: <%=historial.estado%></h5>
<h5>Fecha de creación del historial: <%=historial.fechaCreacion%></h5>
<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha de Atención</th>
        <th scope="col">Alergias</th>
        <th scope="col">Antecedentes Familiares</th>
        <th scope="col">Síntomas</th>
        <th scope="col">Signos Vitales</th>
        <th scope="col">Diagnóstico</th>
        <th scope="col">Medicamentos</th>
    </tr>
    </thead>
    <tbody  async="true">
    <%     historial.detalles.forEach( (detalle) => {%>
        <tr>
            <th scope="row"><%= detalle.id%></th>
            <td><%= detalle.fechaHistorial%></td>
            <td><%= detalle.alergias%></td>
            <td><%= detalle.antecedentesFamiliares%></td>
            <td><%= detalle.sintomas%></td>
            <td><%= detalle.signosVitales%></td>
            <td><%= detalle.diagnostico%></td>
            <td><%= detalle.medicamentos%></td>
        </tr>
    <%}); %>
    </tbody>
</table>
